header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 6rem;
  padding: 0 6rem;
}

/* Logo */
.logo {
  align-items: center;
  display: flex;
  flex: 1;
}

.logo img {
  height: 4rem;
  width: 4rem;
}

.logo h1 {
  color: #3254fb;
  font-weight: 700;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

/* Nav links */
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  font-size: 0.875rem;
  margin-left: 3rem;
}
